{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3 mb3 mt3">

		<div class="flex-ns flex-wrap mb3">
		<h4 class="f4 b lh-title mb2 mt3 primary" style="text-align:center;">Update Contact Information</h4>
		<form action="https://formcarry.com/s/sbSIMAzdkE5" method="POST" accept-charset="UTF-8">
		<div class="col-md-6 col-sm-12">
		  <div class="block">
		    <div class="form-group">
		      <label for="name" hidden>Name</label>
		      <input id="name" name="name" type="text" class="form-control" placeholder="Name" required>
		    </div>
		    <div class="form-group">
		      <label for="email" hidden>Email</label>
		      <input id="email" name="email" type="email" autocomplete="email" class="form-control" placeholder="Email" required>
		    </div>
		    <div class="form-group">
		      <label for="mobileNumber" hidden>Mobile Number</label>
		      <input id="mobileNumber" name="mobileNumber" type="tel" class="form-control" placeholder="Mobile Number" required>
		    </div>
		  </div>
		</div>
		<div class="col-md-6 col-sm-12">
		  <div class="block">
		    <div class="form-group-2">
		      <label for="message" hidden>Message</label>
		      <textarea id="message" name="message" class="form-control" rows="4" placeholder="Message"></textarea>
		    </div>
		    <input type="hidden" name="_gotcha">
		    <button class="btn btn-default" type="submit">Submit</button>
		  </div>
		</div>
	      </form>
	        {{ range .Params.contact_entries }}
				<div style="flex: 0 0 50%;padding:0 0.4rem;">
					<h4 class="f4 b lh-title mb2 mt3 primary" style="text-align:center;">{{ .heading }}</h4>
					
					<p>{{ .text | markdownify }}</p>
				</div>
			{{ end }}
		</div>

	</div>
</div>

{{ end }}
